# Logs
logs
*.log
# Dependency directories
node_modules/
# Optional npm cache directory
.npm
# Environment configuration
.env
.env.local
.env.development
# Transpiled output
dist/
# IDEs and editors
.vscode/
.idea/

# Production build files
build/